<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form th:action="@{/user/signUp}" method="post">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="id" class="form-label">사용자ID</label>
            <input type="text" id="id" name="id" class="form-control">
        </div>
        <div class="form-group">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" id="password1" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">이메일</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </div>
</form>
</body>
</html>